body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 1rem;
    background: #f9f9f9;
  }
  #app {
    max-width: 500px;
    margin: auto;
  }
  input, button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
  }
  #board {
    margin-top: 20px;
  }
  button {
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
  }
  